:root {
  --columns-row: 2;
}

 #container{
  display: flex;
  flex-direction: row;
 }

 #button-container{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 20px;
  padding-right: 20px;
 }

 button, input {
  width: 300px;
  font-size: 20px;
  color: black;
  background-color: white;
 }

 #grid {
      display: grid;
      grid-template-columns: repeat(var(--columns-row), 1fr);
      grid-template-rows: repeat(var(--columns-row), 1fr);
      width: 500px;
      height: 500px;
  }

